<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Vinery</title>

        <meta name="description" content="A front-end for the Vine API.">
        <meta name="viewport" content="width=440, user-scalable=no">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <a href="https://github.com/jakebellacera/vinery" class="forkme-ribbon"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        <div class="page-container">
            <header class="page-header">
                <h1 class="page-header-title">Vinery</h1>
                <p class="page-header-description">A Ruby interface for Vine. By <a href="http://github.com/jakebellacera">@jakebellacera</a>.</p>
                <div class="page-header-form">
                    <form id="tagSearchForm" class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="tagSearchField">Tag name</label>
                            <div class="input-group">
                                <span class="input-group-addon">#</span>
                                <input type="text" class="form-control" id="tagSearchField" placeholder="Tag name"<%= " value=\"#{params[:tag]}\"" if params[:tag] %>/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </header>
            <div class="page-content">
                <%= yield %>
            </div>
            <div class="page-footer">
                <p class="page-footer-content">
                    <span class="page-footer-copyright">Vinery is not affiliated with Vine.</span>
                    <span class="page-footer-forkme"><a href="http://github.com/vinery">Fork me on GitHub.</a></span>
                </p>
            </div>
        </div>

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-9273263-12', 'vinery.herokuapp.com');
          ga('send', 'pageview');

        </script>
    </body>
</html>
