<div class="post-json panel-group" id="jsonCollapse">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				#<%= params[:tag] %>
				<a href="/tagged/<%= params[:tag] %>.json" class="post-json-raw-link pull-right">View JSON</a>
			</h4>
		</div>
	</div>
</div>

<div class="posts-listing">
	<% if @results.any? %>
		<% @results.each do |post| %>
			<div class="post-item" data-embed-url="<%= post.share_url %>">
				<a href="#">
					<img src="<%= post.thumbnail_url %>" alt="Vine video thumbnail" width="600" height="600"/>
				</a>
			</div>
		<% end %>
	<% else %>
		<div class="post-none">
			<h3>Uh oh!</h3>
			<p>There aren't any vines with that tag. Try a different one.</p>
		</div>
	<% end %>
</div>
